@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Viga');
@import url('https://fonts.googleapis.com/css?family=Prosto+One');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background: white;
	padding: 0px;
}

header > h1 {
	color: #24272E;
	text-align: center;
	font-family: Bungee, sans-serif;
	font-size: 40px;
}

.score-board {
	margin: 50px auto;
	border: 2px solid white;
	border-radius: 20px;
	text-align: center;
	width: 600px;
	color: white;
	font-size: 60px;
	padding: 20px, 20px;
	font-family: Audiowide, sans-serif;
	position: relative;
}

.badge {
	background: #E2584D;
	color: white;
	font-size: 22px;
	padding: 2px 5px;
	font-family: Orbitron, sans-serif;
	font-weight: bold;
}

#money-level {
	position: absolute;
	top: -20px;
	left: 20px;
}

#dist-level {
	position: absolute;
	bottom: -20px;
	right: 20px;
}

body {
	background-color: #292C34;
	font-family: Orbitron, sans-serif;
}

#container {
	position: absolute;
	height: 69vh;
	width: 25%;
	left: 37%;
	margin-top: 10px;
	margin-bottom: 2px; 
	background-color: #000000;
	overflow: hidden;
}

.line {
	position: absolute;
	height: 150px;
	width: 4%;
	margin-left: 50%;
	background-color: #FFFFFF;
}

#line_1 {
	top: -150px;
}

#line_2 {
	top: 150px;
}

#line_3 {
	top: 450px;
}

.car {
	position: absolute;
	height: 60px;
	width: 40px;
	border-radius: 9px;
	box-shadow: 0px 1px 8px 0px black;
}

#car {
	bottom: 8%;
	left: 60%;
	background-color: #FFFF00;
}

.f_glass{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    top: 15%;
    border-radius: 0px 0px 5px 5px;
    background-color: #484848;
}

.b_glass{
    position: absolute;
    height: 20%;
    width: 60%;
    margin-left: 20%;
    bottom: 15%;
    border-radius: 5px 5px 0px 0px;
    background-color: #484848;
}

.f_light_l{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 10%;
    top: -6%;
    border-radius: 5px 5px 0px 0px;
    background-color: #efefef;
}

.f_light_r{
    position: absolute;
    height: 10%;
    width: 20%;
    margin-left: 70%;
    top: -6%;
    border-radius: 5px 5px 0px 0px;
    background-color: #efefef;
}

.f_tyre_l{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 20%;
    left: -10%;
    border-radius: 5px 0px 0px 5px;
}

.f_tyre_r{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 20%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}

.b_tyre_l{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 70%;
    left: -10%;
    border-radius: 5px 0px 0px 5px;
}

.b_tyre_r{
    position: absolute;
    height: 20%;
    width: 10%;
    background-color: grey;
    top: 70%;
    left: 100%;
    border-radius: 0px 5px 5px 0px;
}

#car_1{
    top: -200px;
    left: 50%;
    background-color: #CC00FF;
}

#car_2{
    top: 150px;
    left: 60%;
    background-color: #33CC00;
}

#car_3{
    top: 350px;
    left: 80%;
    background-color: #26c5ff;
}

#car_4{
    top: 500px;
    left: 30%;
    background-color: #FF6600;
}

#car_5{
    top: 0px;
    left: 10%;
    background-color: #CC0000;
}

#restart_div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000066;
    color: white;
    font-family: Prosto One, sans-serif;
    font-size: 40px;
    text-align: center;
    display: none;
}

#restart {
    border: none;
    padding: 25px;
    color: white;
    background-color: #FF0000;
    font-family: Luckiest Guy, sans-serif;
    font-size: 30px;
    margin-top: 30%;
}

.small_text{
    font-size: 25px;
}