.spinCard {
  -webkit-animation: spin 4s linear reverse infinite;
  animation: spin 4s linear reverse infinite;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.cheese-body {
  background-image: url("../images/katrin-leinfellner-571533-unsplash.jpg");
  font-size: 16px;
  color: #57283e;
  line-height: 1.6;
  background-color: mistyrose;
}
.cheese-container {
  border: 3px dashed #00f9d0;
}

.click-for-cheese {
  color: #2dc0da;
  background-color: #57283e;
}

.copy {
  padding-left: 50%;
}

.list {
  list-style-type: none;
}

.container a {
  text-decoration: none;
  color: #ff0844;
}

.container a:hover {
  text-decoration: none;
  color: #cc0636;
}

.text-shadow {
  color: #D95D39;
  text-shadow: 1px 1px #F0A202;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
  border: 10px double #21ffff;
}

.cheesetron-1 {
  padding: 100px;
  background-image: url("../images/gouda.jpg");
  background-size: cover;
}
.cheesetron-2 {
  padding: 100px;
  background-image: url("../images/roquefort.jpg");
  background-size: cover;
}
.cheesetron-3 {
  padding: 100px;
  background-image: url("../images/monster.jpg");
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: #ff9a56;
}

.sublogo {
  position: absolute;
  top: 16px;
  left: 197px;
  right: 0px;
  float: left;
  z-index: 10;
  width: 97px;
  height: 22px;
  opacity: 0;
}

.sublogo:hover {
  position: absolute;
  top: 16px;
  left: 197px;
  right: 0px;
  float: left;
  z-index: 10;
  width: 97px;
  height: 255px;
  opacity: 100;
}

.myBtnCheese {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  /* padding: 15px; */
  width: 51px;
  height: 50px;
  padding: 0;
  border-radius: 34px;
  background-color: #57283e;
}
