body {
  font-size: 16px;
  color: black;
  line-height: 1.6;
  background-color: mistyrose;
}

.copy {
  padding-left: 50%;
}

.list{
    list-style-type: none;
}

.navbar {
  background: linear-gradient(to left, #FF0844, #FF4563)
}


.container a {
  text-decoration: none;
  color: #FF0844;
}

.container a:hover {
  text-decoration: none;
  color: #cc0636;
}

.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  width: 400px;
  text-align: center;
}
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}
