body {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  background-color: #EEEEEE;
}

#navbar {
  padding: 8px;
  background-color: #FF0844;
}

#navbar a {
	
  color: white;
  font-size: 18px;
  text-decoration:none;
  padding: 12px 16px;
  text-align:center;
}

#navbar a:hover {
  background-color: #DB093D;
}
