@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&subset=latin-ext');

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  background-color: #4835f7;
  color: #fff;
}
/* * {
  outline: none!important;
} */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat',sans-serif;
  line-height: 1.5;
}
html,
body {
  background-color: #fff;
}
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0 0 1.5rem;
  position: relative;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
}

canvas {
  cursor: crosshair;
  display: block;
}

a,
a:hover {
  color: #FF0844;
  text-decoration: none;

}

.content {
  margin-top: 80px;
  color: #000000;
}
.box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.box-item {
  position: relative;
  display: block;
  background-color: #FEEEF2;
  color: #444;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 15px 8px 15px 70px;
  margin: 10px;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

@media (min-width: 768px) {

  .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .box-item {
    width: calc(50% - 20px);
  }
}

@media (min-width: 1100px) {

  .box-item {
    width: calc(25% - 20px);
  }
}

.box-item:hover {
  background-color: #FE0C43;
  color: #fff;
}

.box-item::before {
  content: "";
  display: table;
  clear: both;
}

.box-item img {
  position: absolute;
  width: 50px;
  float: left;
  margin-right: 15px;
  top: 0.3rem;
  border-radius: 0.5rem;
  padding: 0; 
  left: 0.5rem;
}

.box-item:hover a {
  color: #fff;
}

.box-item.different-color {
  background-color: #a7eded;
}

.box-item.different-color:hover{
  background-color: #FE0C43;
}


/*HACKTOBERFEST COLOR GLOW*/
/* START H18-fx_glow */
.box-item.H18-fx_glow {
  background: #411e2f;
  color: white;
  transition: background-color 0.7s, border-color 0.7s;
  animation: glow 1s infinite alternate;
}

.box-item.H18-fx_glow img{
  border: 1px solid white;
  margin: 0;
}
.box-item.H18-fx_glow:hover{
  background-color: #000000;
  color: white;
}

@keyframes glow {
  0%{border: 0.1rem solid transparent}
  100%{border: 0.1rem solid #21ffff}
}
/* END H18-fx_glow */

