body {
  font-size: 16px;
  color: black;
  line-height: 1.6;
  background-color: mistyrose;
}

.copy {
  padding-left: 50%;
}

.list{
    list-style-type: none;
}

.navbar {
  background: linear-gradient(to left, #FF0844, #FF4563)
}


.container a {
  text-decoration: none;
  color: #FF0844;
}

.container a:hover {
  text-decoration: none;
  color: #cc0636;
}

.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 10px; 
  max-width: 400px;
  text-align: center;
  background-color: #f8f8f8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b6bfce' fill-opacity='0.1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

#sublogo{
  position: absolute;
  top: 16px;
  left: 197px;
  right: 0px;
  float: left;
  z-index: 10;
  width: 97px;
  height: 22px;
  opacity: 0;
}

#sublogo:hover{
  position: absolute;
  top: 16px;
  left: 197px;
  right: 0px;
  float: left;
  z-index: 10;
  width: 97px;
  height: 255px;
  opacity: 100; 
}