body {
  font-size: 16px;
  color: black;
  line-height: 1.6;
  background-color: mistyrose;
  padding-bottom: 120px;
}

.album {
  padding-top: 0;
}

.copy {
  padding-left: 50%;
}

.list{
    list-style-type: none;
}

.navbar {
  background: linear-gradient(to left, #FF0844, #FF4563)
}

.container a {
  text-decoration: none;
  color: #FF0844;
}

.container a:hover {
  text-decoration: none;
  color: #cc0636;
}
  .container a:hover {
    text-decoration: none;
    color: #cc0636;
  }

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  max-width: 400px;
  text-align: center;
  background-color: #f8f8f8;
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.jumbotron {
  max-height: 250px;
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

#sublogo{
  position: absolute;
  top: 16px;
  left: 197px;
  right: 0px;
  float: left;
  z-index: 10;
  width: 97px;
  height: 22px;
  opacity: 0;
}

#sublogo:hover{
  position: absolute;
  top: 16px;
  left: 197px;
  right: 0px;
  float: left;
  z-index: 10;
  width: 97px;
  height: 255px;
  opacity: 100; 
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  /* padding: 15px; */
  width: 51px;
  height: 50px;
  padding: 0;
  border-radius: 34px; 
}
