body {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  background-color: #EEEEEE;
}

#navbar {
  padding: 8px;
  background-color: #FF0844;
}

#navbar a {
  margin-left: 6px;
  color: white;
  font-size: 18px;
}
