.drop1 {
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	font-family: sans-serif;
	font-size: 30px;
	animation: fall 8.63s linear infinite;
}

.drop2 {
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	font-family: sans-serif;
	font-size: 30px;
	animation: fall 7.63s linear infinite;
}

.drop3 {
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	font-family: sans-serif;
	font-size: 30px;
	animation: fall 8s linear infinite;
}

.drop4 {
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	font-family: sans-serif;
	font-size: 30px;
	animation: fall 7.13s linear infinite;
}

.drop5 {
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	font-family: sans-serif;
	font-size: 30px;
	animation: fall 6.3s linear infinite;
}

.drop6 {
	display: none;
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	font-family: sans-serif;
	font-size: 30px;
	animation: fall 10.63s linear infinite;
}

.drop7 {
	display: none;
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	font-family: sans-serif;
	font-size: 30px;
	animation: fall 9.63s linear infinite;
}

.drop8 {
	display: none;
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	font-family: sans-serif;
	font-size: 30px;
	animation: fall 10.63s linear infinite;
}

.drop9 {
	display: none;
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	font-family: sans-serif;
	font-size: 30px;
	animation: fall 7.63s linear infinite;
}

.drop10 {
	display: none;
	width: 1px;
	height: 89px;
	position: absolute;
	bottom: 200px;
	font-family: sans-serif;
	font-size: 30px;
	animation: fall 8.3s linear infinite;
}

/* animate the drops*/

@keyframes fall {
	to {
		margin-top: 900px;
	}
}