#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #f8f9fa; 
    border-top: 4px solid #FF0844;
    color: #f0f0f0;
    text-align: center;
    min-height: 100%;
}

#footer h3 {
    color: black;
    padding: 12px 0 5px;
    height: 25px;
}

.social-icons {
    padding: 5px;
    margin-bottom: 10px;
}


.social-icons > a img {
   transition: all .2s ease-in-out;
  }

  .social-icons > a img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

#footer h3 span:hover {
    cursor: pointer;
    cursor: hand;
}

.hacktoberfest-image {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
