#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 1.2%;
    width: 100%;
    height: 30px;
    background-color:#FF2150;
    color: white;
    transition: bottom 0.5s;
}
  
#footer.active {
    bottom: 50px !important;
    transition: bottom 0.5s;
}
#footer.active #toggle-social-btn i{
    transform: rotate(180deg);
    transition: transform 0.5s;
}
#footer #toggle-social-btn i {
    transition: transform 0.5s;
}
#footer #toggle-social-btn {
    cursor: pointer;
}

#footer {
    border-top: 2px solid #555555;
    margin: 2rem 0 0 0;
    padding-bottom: 2rem;
    background: rgba(110,110,130,0.8);
    text-align: center;  
}

#footer .social-icons {
    background: rgba(110,110,130,0.8);
    line-height: 50px;
}

#footer h3 {
    margin-bottom: -1px;
}
  
