#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to left, #FF0844, #FF4563);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    text-align: center;
    min-height: 100%;
}

#footer h3 {
    padding: 5px;
    height: 25px;
}

.social-icons {
    padding: 5px;
    margin-bottom: 10px;
}


.social-icons > a img {
   transition: all .2s ease-in-out;
  }

  .social-icons > a img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

#footer h3 span:hover {
    cursor: pointer;
    cursor: hand;
}

.hacktoberfest-image {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
