#footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100vw;
    /* height: 100px; */
    background: linear-gradient(to left, #FF0844, #FF4563);
    box-shadow: 0 -25px 40px -20px #8e092a45;
    color: black !important;
    text-align: center;
    z-index: 1000;
    padding: 20px;
}

#footer h3 {
    padding: 5px;
    height: 25px;
}

.footer-icon {
    color: #e6e6fa;
}

.social-icons {
    padding: 5px;
}

.social-icons> a img {
   transition: all .2s ease-in-out;
  }

  .social-icons> a img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

#footer h3 span:hover {
    cursor: pointer;
    cursor: hand;
}

.hacktoberfest-image {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 999;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: #FF0844;
    padding: 6px 10px 10px;
    z-index: 1001;
}
#backToTop svg {
    width: 25px;
    height: auto;
    opacity: .6;
}
#backToTop:hover svg {
    opacity: 1;
}

a.footer__socials-link svg {
    transform: scale(0.75);
    transition: 0.2s ease-in-out transform;
}

a.footer__socials-link svg:hover {
    transform: scale(1);
}