#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    backdrop-filter: blur(10px);
}

#footer h3 {
    padding: 5px;
    height: 25px;
}

.footer-icon {
    color: #fff;
    display:flex;
  }

.social-icons {
    padding: 5px;
     margin-left: auto;
    margin-right: auto;

}

.social-icons > a img {
   transition: all .2s ease-in-out;
   
}

.social-icons > a img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

#footer h3 span:hover {
    cursor: pointer;
    cursor: hand;
}

.hacktoberfest-image {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

#backToTop {
    position: fixed;
    bottom: 90px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: transparent;
    padding: 5px;
    z-index: 1001;
}
#backToTop svg {
    width: auto;
    height: 40px;
    opacity: .6;
}
#backToTop:hover svg {
    opacity: 1;
}

#footer {
  padding: 10px 0;
}
.footer__socials-link {
  margin: 0 10px;
}
.footer__socials-link svg {
  height: 35px;
  width: auto;
}
