#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
   margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.6);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: white;
    text-align: center;
}

#footer h3 {
    padding: 5px;
    height: 25px;
}

#footer h3 span:hover {
    cursor: pointer;
    cursor: hand;
}

.hacktoberfest-image {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

#backToTop {
    position: fixed;
    bottom: 90px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: transparent;
    padding: 5px;
    z-index: 1001;
}
#backToTop svg {
    width: auto;
    height: 40px;
    opacity: .6;
}
#backToTop:hover svg {
    opacity: 1;
}

#footer {
  padding: 10px 0;
}
.footer__socials-link {
  margin: 0 10px;
}
.footer__socials-link svg {
  height: 35px;
  width: auto;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.footer__socials-link svg:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
 }