body {
<<<<<<< HEAD
	background-color: black;
}

.gifs {
	margin-top: 99px;
}

.doggo {
	height: 0;
	transition: height 1s;
	-webkit-transition: height 1s;
=======
  background-color: black;
}

.gifs{
     margin-top: 100px;
}

.doggo{
     height: 0;
     transition: height 1s;
     -webkit-transition: height 1s;
>>>>>>> 79de7abf060f33f198b75fbe9838e7f7c964d7ee
}
