body {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  background-color: mistyrose;
}

.copy {
  padding-left: 50%;
}

.guides {
  margin-bottom: 3rem;
}

.navbar {
  background: linear-gradient(to left, #ff0844, #ff4563);
}

.container a {
  text-decoration: none;
  color: #ff0844;
}

.container a:hover {
  text-decoration: none;
  color: #cc0636;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  /* padding: 15px; */
  width: 51px;
  height: 50px;
  padding: 0;
  border-radius: 34px;
}
