@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin-ext');

* {
  outline: none!important;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  background-color: white;
}

h1,h2,h3 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

.os {
  text-align: center;
  font-weight: bold;
  margin: 8px;
}

.content-wrapper {
  padding-top: 4rem;
}

.jumbotron {
  background-color: #ffeff3;
  padding: 2rem;

}

a {
  text-decoration: none;
  color: #FF0844;
}

a:hover {
  text-decoration: none;
  color: #cc0636;
}

.projects {
  justify-content: space-between;
}

.list {
  padding: 0;
  list-style-type: none;
}

.helpful-links {
  columns: 2;
}
