body {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  background-color: #EEEEEE;
  margin:0;
}

#navbar{ background-color:#f4d142; }
#navbar a{ color:maroon; font-weight:bold; }
.color1{color:#000e7c;}
.center{ text-align:center; }
#other-videos{ display:inline-block;margin-right:30px; }

.faq-question {
  background-color: lightgray;
}

.faq-answer {
  border-bottom: 1px solid lightgray;
}

.contribution-rules-item.dont {
  border-bottom: 1px solid black;
  padding: 4px;
  margin-bottom: 4px;
  background-color: lightcoral;
}

.contribution-rules-item.do {
  border-bottom: 1px solid black;
  padding: 4px;
  margin-bottom: 4px;
  background-color: lightgreen;
}
