body {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  margin:0;
  background-color: #f8f8f8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b6bfce' fill-opacity='0.1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

#navbar{ background-color:#f4d142; }
#navbar a{ color:maroon; font-weight:bold; }
.color1{color:#000e7c;}
.center{ text-align:center; }
#other-videos{ display:inline-block;margin-right:30px; }

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 1.2%;
  width: 100%;
  height: 30px;
  background-color: #FF0844;
  color: white;
  transition: bottom 0.5s;
}

#footer.active {
  bottom: 50px !important;
  transition: bottom 0.5s;
}
#footer.active #toggle-social-btn i{
  transform: rotate(180deg);
  transition: transform 0.5s;
}
#footer #toggle-social-btn i {
  transition: transform 0.5s;
}
#footer #toggle-social-btn {
  cursor: pointer;
}

.copy {
  padding-left: 50%;
}

.faq{ width:90%;margin-left:10%; }
.faq-question {
  background-color: lightgray;
}
  .tips {
    font-size: 20px;
  }

div#content div#contribution-rules ul, div#content div#contribution-rules ul li{
  list-style-type: none;
}

#contribution-rules{ 
  background-color: #fff;
  padding:30px; 
}
.do{
  color:green;
}
.dont{
  color:red;
}
.fork_image {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  margin-top: 61px;
}

.card-header{ 
  padding:3px;
  padding-left:20px;
  font-weight:bold; }
.container {
  margin-top: 2rem;
  background: black;
}
#footer {
  border-top: 2px solid #555555;
  margin: 2rem 0 0 0;
  padding-bottom: 2rem;
  background: rgba(110,110,130,0.8);
  text-align: center;

}
#footer .social-icons {
  background: rgba(110,110,130,0.8);
  line-height: 50px;
}
#footer h3 {
  margin-bottom: -1px;
}
