.bg-primary {
  background-color: #ff0844 !important;
}
.navbar.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link:hover {
  color: whitesmoke;
  font-size: 100%;
  transform: translate3d(0px, 16px);
  border-bottom: 2px solid whitesmoke;
  padding: 6px 10px 2px;
  transition: all 125ms ease-in-out
}

.hacktoberfest-image {
  display: flex;
  justify-content: center;
} 

/* .logo-image {
 margin-bottom: 20px;
} */
