.bg-primary {
  background: #FF0844;
      background: -webkit-linear-gradient(to left, #FF0844, #FF4563);
      background: linear-gradient(to left, #FF0844, #FF4563);
}

.bg-dark{
  background: #FF0844;
      background: -webkit-linear-gradient(to left, #FF0844, #FF4563);
      background: linear-gradient(to left, #FF0844, #FF4563);
}
.nav-item{
  font-weight: bold;
  color: inherit;
}
