.bg-primary {
  background-color: #ff0844;
}
.navbar.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link:hover {
  color: whitesmoke;
  font-size: 100%;
  -webkit-transform: translate3d(0px, 16px);
  transform: translate3d(0px, 16px);
  border-bottom: 2px solid whitesmoke;
  padding: 6px 10px 2px;
  transition: all 125ms ease-in-out
}

.navbar {
  background: linear-gradient(to left, #FF0844, #FF4563);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.navbar-nav {
  width: 100%;
}