h5 {
    color: #FF174B,
}

.navbar-dark .navbar-nav .dropdown-content .nav-link  {
    color: black;
}

g {
    fill: #FF174B,
}

.dropdown-toggle{
    color: rgba(255,255,255,.5);
}

.snek-play{
    margin: 10px;
}