
body {
    font-family: 'Open Sans', sans-serif;
    background: url("images/2.jpg") no-repeat left;
	background-size:1400px 750px ;
	background-color:black;
	
	
}

.main-1 {
    width: 35%;

}
/*-- contact-form --*/
.signup {
    padding: 0.5em;
    
	
}
.signup img
{
	height:100%;
	width:100%;
	border-radius:25px;
}
.signup h2 {
    font-size: 2em;
    color: #fff;
    font-family: 'Old Standard TT', serif;
}

.contact {
   
	
}
.form {
    background: rgba(37, 37, 37, 0.61);
    padding: 1.5em;
	border-radius:25px;
	
	
}

.contact input[type="text"],.contact input[type="email"]
{
    width: 93%;
    color: #fff;
    background: none;
    outline: none;
    font-size: .9em;
    padding: .6em ;
    margin-bottom: .5em;
    border: solid 1px #bfbfbf;
    -webkit-appearance: none; 
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: 0.5s all; 
    -moz-transition: 0.5s all;
	transition: 0.5s all;
} 
.contact input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.6em ;
    font-size: 1em; 
    -webkit-appearance: none;
    background: #FF5722;
    border: 2px solid #FF5722;
    -webkit-transition: 0.5s all; 
    -moz-transition: 0.5s all;
	transition: 0.5s all;
    width:50%;
    cursor: pointer;
	border-radius:25px;
	margin-left:25%;
	margin-top:20px;
	
} 

.contact input[type="submit"]:hover {
    background: transparent;
    color: #FF5722;
    letter-spacing: 3px;
}
.contact input[type="checkbox"]
{
	width:20px;
	height:20px;
}
.contact select
{
  width: 98.7%;
    color:white;
    outline: none;
    font-size: .9em;
    padding: .6em ;   
    border: solid 1px #bfbfbf;
    -webkit-appearance: none; 
	font-family: 'Open Sans', sans-serif;
	-webkit-transition: 0.5s all; 
    -moz-transition: 0.5s all;
	transition: 0.5s all;
	
	background:
    linear-gradient(45deg, transparent 50%, #ff5722 50%),
    linear-gradient(135deg, #ff5722 50%, transparent 50%),
    linear-gradient(to right, #FF916F, #FF916F);
  background-position:
    calc(100% - 21px) calc(1em + 2px),
    calc(100% - 16px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}
.contact p
{
	font-size:20px;
	color:#cc451b;
}
