body {
    font-family: 'Open Sans',Helvetica, Arial, sans-serif;
}
*:focus {outline:0 !important;}

.container {
    width: 100%;
    max-width: 1200px;
}

/* top nav */
nav {
    background: #1863b5;
}
nav h1 {
    color: #fff;
    font-size: 26px;
    line-height: 26px;
    padding-left: 60px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-image: url(../images/phone-icon.png);
    background-size: 42px;
    background-position: left center;
    background-repeat: no-repeat;
    margin: 0;
}
nav h1 span {
    font-size: 39px;
}
.buttons {
    padding-top: 20px;
    text-align: right;
}
.buttons input[type="text"] {
    width: 220px;
    cursor: initial;
}
input[type="text"] {
    cursor: initial;
}
form.buttons {
    text-align: center;
}
form.buttons input[type="text"] {
    width: 240px;
}
.btn {
    padding: 5px 25px;
    border-radius: 30px;
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    text-align: center;
    min-width: 150px;
    font-weight: 600;
    border: 0;
    box-shadow: none!important;

    font-size: 23px;
    padding: 7px 25px;
    color: #fff;
    background: rgb(71,160,245); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(71,160,245,1) 0%, rgba(101,242,99,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(71,160,245,1) 0%,rgba(101,242,99,1) 100%);
    background: linear-gradient(45deg, rgba(71,160,245,1) 0%,rgba(101,242,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a0f5', endColorstr='#65f263',GradientType=1 );
}
.btn.error {
    border: 2px solid red!important;
}
.btn:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.8;
}
.btn.btn-green {
    color: #fff;
    background: #3dc030;
    font-size: 23px;
    font-weight: 600;
}
.btn.btn-white {
    color: #9e9d9d;
    background: #ffffff;
}
.btn.gradient {
    font-size: 23px;
    padding: 7px 25px;
    color: #fff;
    background: rgb(71,160,245); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(71,160,245,1) 0%, rgba(101,242,99,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(71,160,245,1) 0%,rgba(101,242,99,1) 100%);
    background: linear-gradient(45deg, rgba(71,160,245,1) 0%,rgba(101,242,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a0f5', endColorstr='#65f263',GradientType=1 );
}
.btn.btn-blue-borders {
    font-size: 22px;
    color: #3285e7;
    background: transparent;
    border: 2px solid #3285e7;
    padding: 7px 35px;
}
.btn.btn-gray-borders {
    font-size: 22px;
    color: #9e9d9d;
    background: transparent;
    border: 2px solid #9e9d9d;
    padding: 7px 35px;
}
.btn.full-width {
    min-width: 90%;
    margin-bottom: 11px;
}


/* first section */
.options {
    background-color: #f5f7f8;
    background-image: url(../images/pattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 85px 0 90px 0;

}
.options .logo img {
    width: 100%;
    max-width: 191px;
    margin-bottom: 50px;
}
@media (min-width: 1024px){
    .options .boxes {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
    .options .boxes > .box {
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
    }
}
.options .boxes > .box {
    position: relative;
    text-align: center;
}
.options .boxes .box:after {
    content: "";
    position: absolute;
    left: 15px;
    top: 0;
    right: 15px;
    bottom: 0;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.15);
}
.options .boxes .box > div {
    position: relative;
    z-index: 999;
    padding: 30px;
}
.options .boxes .valign {
    position: relative;
}
@media (min-width: 1024px){
    .options .boxes .valign {
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: -50px;
    }
}

.options .boxes h2 {
    font-size: 26px;
    color: #434a54;
    line-height: 30px;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    padding-bottom: 15px;
    margin-top: 0;
}
.options .boxes .box1 h2 {
    margin-bottom: 25px;
    margin-top: 30px;
}
.options .boxes h2:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background: #000;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}
/*** box1 ***/
.box1 .checkboxes {
    margin-bottom: 25px;
}
.box2 .checkboxes {
    margin-top: 7px;
    display: inline-block;
}
.box4 > div {
    height: 100%;
}
.box1 img {
    /*width: 32px;*/
    height: 68px;
}
.box1 .btn {
    font-size: 26px;
    padding: 10px 15px;
}
.options .box3 .mtop {
    margin-top: 20px;
}
.options .box3 .internetas {
    display: none;
}
.options .box3 .internetas.on {
    display: block;
}

.options .btn {
    font-size: 18px;
    width: 100%;
    margin-bottom: 8px;
    padding: 10px 10px;
    border-color: #b7d3ff;
    color: #1155c0;
    margin-left: 0;
}
.options .btn.active {
    color: #3bbf2e;
    border-color: #3bbf2e;
    background: #f0ffee;
}
.options .boxes .box1 h2 {
    font-size: 40px;
    line-height: 50px;
}
.options .boxes .box1 .btn {
    color: #fff;
}
.options .boxes .box1 h2:after {
    background: #3bbf2e;
}

.price-container {
    display: inline-block;
    text-align: center;
    position: relative;
    margin: 0 0 20px 0;
}
.price-container #price {
    font-size: 82px;
    color: #3bbf2e;
    line-height: 72px;
    font-weight: 600;
}
.price-container #price sup {
    font-size: 40%;
    color: #3bbf2e;
    top: -35px;
    font-weight: 600;
}
.price-container span {
    font-size: 22px;
    color: #3bbf2e;
    position: absolute;
    right: -38px;
    bottom: 0;
    font-weight: 600;
}
.disclaimer {
    font-size: 18px;
    color: #c2c2c2;
    line-height: 24px;
    font-weight: 600;
    padding-bottom: 30px;
}
.disclaimer b {
    color: #3bbf2e;
}

/* services */
.services {
    width: 100%;
    position: relative;
    background: #fff;
    padding: 80px 0;
}
.services h2 {
    font-size: 35px;
    font-weight: 600;
    color: #3285e7;
    margin: 0 0 20px 0;
}
.services h4 {
    font-weight: 600;
    color: #434a54;
    font-size: 26px;
    margin: 0 0 20px 0;
}
.services h5 {
    font-size: 22px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 767px){
    .services:before {
        content: "";
        position: absolute;
        width: 50%;
        right: 0;
        top: 0;
        bottom: 0;
        background: #fcfcfd;
    }
}
.services img {
    max-width: 66px;
    width: 100%;
}
.services ul {
    padding: 0;
    width: 100%;
    margin: 5px 0 0 0;
    display: inline-block;
}
.services ul li {
    display: inline-block;
    width: 13.1666666667%;
    list-style-type: none;
    background: #fff;
    border-radius: 50%;
    margin: 1.5%;
    padding-bottom: 12.5%;
    border: 2px solid #f0f3f4;
    position: relative;
    overflow: hidden;
}
.services ul li img {
    position: absolute;
    max-width: 90%;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.services .dotted-line {
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    color: #b6b6b6;
    font-size: 20px;
    border-bottom: 2px dotted #b6b6b6;
    cursor: pointer;
}
.services .btn {
    margin-top: 30px;
}




/* footer */
.footer {
    text-align: center;
    background-color: #ffffff;
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 0 70px 0;   
}
.footer h2 {
    color: #434a54;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
}

/* modals */
.modal-dialog {
    width: 640px;
}
.modal-content {
    padding: 0 77px;
}
.modal .close {
    opacity: 1;
    position: absolute;
    width: 54px;
    right: -27px;
    top: -27px;
}
.modal img {
    max-width: 68px;
}
.modal h2 {
    font-size: 31px;
    color: #434a54;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 25px;
}
.modal .modal-header {
    padding: 65px 0 55px 0;
    border-bottom: 2px solid #d2d2d2;
}
.modal .btn.no-margins {
    margin-left: 0;
}
.modal .btn.btn-green {
    border: 2px solid #3dc030;
    padding-top: 7px;
    padding-bottom: 7px;
}
.modal .modal-body {
    padding: 55px 0 60px 0;
}


.checkboxes {
    padding: 0;
    margin: 0;
    text-align: left;
}
.icheckbox_penki {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.checkboxes li {
    list-style: none;
    position: relative;
    margin-bottom: 10px;
}
.checkboxes li:last-child {
    margin-bottom: 0;
}
.checkboxes li .icheckbox_penki {
    position: absolute;
    top: -2px;
    left: 0;
}
.checkboxes label {
    padding-left: 35px;
    color: #3bbf2e;
    font-size: 19px;
    font-weight: 600;
}

/* iCheck
----------------------------------- */
.icheckbox_penki {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 29px;
    height: 29px;
    background: url(../images/polaris.png) no-repeat;
    border: none;
    cursor: pointer;
}
.checkboxes label {
    color: #3bbf2e;
    font-size: 18px;
    font-weight: 600;
}
.checkboxes label span {
    font-size: 18px;
    font-weight: 600;
    color: #c2c2c2;
    display: none;
}

.checkboxes .checked.disabled + label {
    color: #3bbf2e;
}
.checkboxes .disabled + label {
    color: #c2c2c2;
}
.icheckbox_penki {
    background-position: 0 0;
}
    .icheckbox_penki.hover {
        background-position: -31px 0;
    }
    .icheckbox_penki.checked {
        background-position: -62px 0;
    }
    .icheckbox_penki.disabled {
        background-position: -93px 0;
        cursor: default;
    }
    .icheckbox_penki.checked.disabled {
        background-position: -124px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_penki {
        background-image: url(../images/polaris@2x.png);
        -webkit-background-size: 310px 31px;
        background-size: 310px 31px;
    }
}


/* responsive */
@media (max-width: 1200px) {
    nav h1 {
        font-size: 20px;
        line-height: 30px;
    }
    .services h5 {
        font-size: 18px;
        line-height: 24px;
    }
    .services ul li img {
        max-width: 70px;
    }
    .options .btn {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {
    nav {
        text-align: center;
    }
    nav h1 {
        display: inline-block;
        width: auto;
    }
    nav .buttons {
        text-align: center;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .options {
        background-image: none;
    }
    .options .boxes > .box {
        margin-bottom: 15px;
    }
    .options .boxes > .box:last-child {
        margin-bottom: 0;
    }
}
@media (max-width: 767px) {
    .options {
        padding: 50px 0;
    }
    .services {
        padding-bottom: 0;
        padding-top: 50px;
    }
    .xs-gray {
        background: #fcfcfd;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    nav h1 {
        line-height: 26px;
        padding-left: 0px;
        padding-top: 48px;
        padding-bottom: 20px;
        background-position: top center;
        margin: 20px 0 0 0;
    }
    .modal-dialog {
        width: auto;
    }
    .modal-dialog {
        position: relative;
        width: auto;
        margin: 40px 10px 10px 10px;
    }
    .modal .close {
        right: -10px;
        top: -10px;
    }
    .modal-content {
        padding: 0 15px;
    }
    .modal .btn.no-margins {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    nav .buttons a,
    nav .buttons input {
        width: 100%!important;
        margin: 5px 0;
    }
}

/* scrollable */
.scrollable {
    max-height: 560px;
    overflow: auto;
}
.scrollable p {
    color: #5f5f5f;
    font-size: 19px;
    max-width: 90%;
    text-align: left;
}
@media (max-width: 1024px) {
    .scrollable p {
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .scrollable {
        max-height: inherit;
    }
}

input {
    -webkit-user-select: auto!important;
    -khtml-user-select: auto!important;
    -moz-user-select: auto!important;
    -ms-user-select: auto!important;
    user-select: auto!important;
}

#logo .services {
    margin: 20px 0;
    padding: 0;
    max-height: 325px;
    overflow: auto;
}
#logo .services:before {
    display: none;
}
#logo .modal-body {
    padding: 35px 0 30px 0;
}
#logo .modal-content {
    padding: 0 15px;
}