.table-header {
  background: linear-gradient(to left, #E71D36, #FF4563);
  color: white;
  text-align: center;
}
table {
  table-layout: fixed;
}
section {
  margin-top: 75px;
}

a {
  color: #E71D36;
}
a:hover {
  color: #96334f;
}
