#.idea/workspace.xml
#.idea/vcs.xml
#.idea/hacktoberfest.iml
#.idea/modules.xml
#.idea/misc.xml
*.sublime-workspace
.idea/
.DS_Store
/.vs/config/applicationhost.config
/.vs/hacktoberfest/v15/.suo
/.vs/VSWorkspaceState.json
