body {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  background-color:#CEFFFD
}

#navbar {
  padding: 8px;
  background-color: #FF0844;
}
  #footer {
    text-align: center;
  }

#navbar a {
  margin-left: 6px;
  color: white;
  font-size: 18px;
}

.faq-question {
  background-color: lightgray;
}

.faq-answer {
  border-bottom: 1px solid lightgray;
}

.contribution-rules-item.dont {
  border-bottom: 1px solid black;
  padding: 4px;
  margin-bottom: 4px;
  background-color: lightblue;
}

.contribution-rules-item.do {
  border-bottom: 1px solid black;
  padding: 4px;
  margin-bottom: 4px;
  background-color: lightgreen;
}
