html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  margin: 40px auto;
  max-width: 100%;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}