/* add your CSS here */
{
	 box-sizing: border-box;
}

.card {
  font-family: Verdana, sans serif;
	 width: 320px;
	 border: 1px solid grey;
	 padding: 0px 11px 10px 9px;
	 box-shadow: 5px 5px 0px 0px rgba(0,0,255,.2);
   background-image: url("https://zahariz.files.wordpress.com/2014/02/n13.jpg");
  color:white;
}

.card img {
	 width: 300px;
	 border: 1px solid grey;
}

ul {
	 list-style-type: none;
}

.info {
	 margin: 10px 0px 0px 0px;
	 border: 1px solid grey;
	 border-radius: 15px;
	 padding: 0px 10px 0px;
}
.em{
 font-style:italic;
}