@import url('https://fonts.googleapis.com/css?family=Eater');

html,
body {
    background-color: #ff7518;
    font-family: Eater;
}

h1 {
    text-align: center;
}

div{
    display: block;
    width: 300px;
    margin: auto;
}

#spooky {
    width: 300px;
    margin: auto;
}
