@import url('https://fonts.googleapis.com/css?family=Quicksand');

.spinCard {
  -webkit-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

html {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  margin: 0;
  background-color: #f8f8f8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23b6bfce' fill-opacity='0.1'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  margin: 0;
  overflow-x: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#header {
  padding:20px;
}

.broccoli-green {
  background-color: #a5d6a7;
}

html [type='button'] {
  -webkit-appearance: none !important;
}

.copy {
  padding-left: 50%;
}

.faq {
  width: 90%;
  margin-left: 10%;
  margin-bottom: 50px;
}
.faq-question {
  background-color: lightgray;
}

.tips {
  font-size: 20px;
}

#tips {
  border-radius: 5px;
}

div#content div#contribution-rules ul,
div#content div#contribution-rules ul li {
  list-style-type: none;
}

#contribution-rules {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
}

.do {
  color: green;
}

.dont {
  color: red;
}

.fork_image {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  margin-top: 61px;
}

.card {
  margin: 1%;

  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  border: 0;
}

.card-header {
  padding: 3px;
  padding-left: 20px;
  font-weight: bold;
}

.container-fluid {
  margin-top: 100px;
}

.container-fluid {
  transition: 1s ease-in-out;
}

.container-fluid a {
  text-decoration: none;
  color: #ff0844;
}

.container-fluid a:hover {
  text-decoration: none;
  color: #cc0636;
}

#header{
  background-color: #FF8A5B;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  /* padding: 15px; */
  width: 51px;
  height: 50px;
  padding: 0;
  border-radius: 34px;
}

.countdown-timer ul {
  padding: 0;
}
.countdown-timer li {
  display: inline-block;
  list-style-type: none;
  padding: 1em;
}
.countdown-timer li span {
  display: block;
  font-weight: bold;
  font-size: 3rem;
}

.hacktoberfest-image {
  margin: auto;
}

.logo-image {
  max-width: 100%;
}
/* Youtube Subscribe Styling */

.btn-youtube {
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;

  background: -webkit-gradient(linear, left top, right top, from(red),color-stop(orange),color-stop(rgb(247, 109, 45)),to(red));
  background: linear-gradient(90deg, red,orange,rgb(247, 109, 45),red);

  color: black;
  border-radius: 0;
  border: 1px solid red;
  padding: 10px 20px;
  background-size: 400%;
  z-index: 1;
}
.btn-youtube:hover {
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
}
@-webkit-keyframes animate{
  0%{
      background-position: 0%;
  }
  100%{
      background-position: 400%;
  }
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.btn-youtube:before {
  content: '';
  z-index: -1;

  background: -webkit-gradient(linear, left top, right top, from(red),color-stop(orange),color-stop(yellow),to(red));
  background: linear-gradient(90deg, red,orange,yellow,red);

  background-size: 400%;
  border-radius: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-youtube:hover::before{
  -webkit-filter: blur(20px);
          filter: blur(20px);

  opacity: 1;
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
}
.ytSubscribeContainer {
  margin-top: 25px;
}
.ytSubscribeContainer a {
  color: white;
}
.ytSubscribeContainer a:hover {
  color: white;
}
.yt-logo {
  background: url('../images/you_logo.png');
}

.heart{
  position: relative;
  width: 100px;
  height: 90px;
  float: left;
}
.heart:before,
.heart:after{
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #fc2e5a;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
.heart:after{
  left: 0;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
       -o-transform-origin: 100% 100%;
          transform-origin :100% 100%;
}

/* Start Hacking Button Animation  */
.btn-primary {

  background: -webkit-gradient(linear, left top, right top, from(red),color-stop(orange),color-stop(rgb(247, 109, 45)),to(red));
  background: linear-gradient(90deg, red,orange,rgb(247, 109, 45),red);

  border: 1px solid red;
  padding: 10px 20px;
  background-size: 400%;
  z-index: 1;
}
.btn-primary:hover {
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.btn-primary:before {
  content: '';
  z-index: -1;

  background: -webkit-gradient(linear, left top, right top, from(red),color-stop(orange),color-stop(yellow),to(red));
  background: linear-gradient(90deg, red,orange,yellow,red);

  background-size: 400%;
  border-radius: 0;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-primary:hover::before{
  -webkit-filter: blur(20px);
          filter: blur(20px);

  opacity: 1;
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
}

.social-widget{
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #ff0844;
  opacity: 0.3;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;

}
.social-widget:hover{
  opacity: 1;

}

.social-widget .col{
  background-color: #ff0844;
  padding: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.social-widget .col:hover{
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.hiddenDiv {
    display: none;
}

.hoverOverMe:hover + div {
	font-family:sans-serif;
    display: block;
}
